$grey: #aaaaaa;
$light-grey: #cecece;
$input-outline: #6aa8db;
$color-danger: #f14242;

$placemark-default-color: #1d98ff;
$placemark-start-color: #56db41;
$placemark-end-color: #ed4543;

$border-radius: 3px;
