.app {
  height: 100%;
}

.map-container {
  position: relative;
  height: 100%;

  .map-center {
    position: absolute;
    top: 50%;
    width: 28px;
    height: 28px;
    left: 50%;
    transform: translate(-50%, -100%);
  }
}
