@import "../../styles/mixins";

.InputBox {
  display: flex;
  width: 100%;
  column-gap: .5rem;

  .PlacemarkName {
    flex: 1;
  }

  .AddButton {
    background-color: #05890b;
    color: white;
    outline-color: #001e01;
  }
}
