@import "../../styles/variables";

.PlacemarksList {
  display: flex;
  flex-direction: column;
  row-gap: .25rem;
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  max-height: 100%;

  &_dragging {
    cursor: grabbing;
  }
}
