@import "../../styles/variables";

.PlacemarksList {
  display: flex;
  flex-direction: column;
  row-gap: .25rem;
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  max-height: 100%;

  &_dragging {
    cursor: grabbing;
  }
}

.PlacemarkItem {
  border-bottom: 1px solid $grey;
  padding: 4px;
  display: flex;
  cursor: grab;

  &__Name {}

  &__Button {
    height: 24px;
    width: 24px;
    display: inline-block;
    border: none;
    cursor: pointer;
    background-color: #fff;
    transition: background-color .1s ease-in-out;
    padding: 0;
    margin-left: auto;
    outline-color: $color-danger;

    svg {
      width: 18px;
      height: 18px;

      circle {
        transition: fill .1s ease-in-out;
        fill: $color-danger;
      }

      path {
        transition: fill .1s ease-in-out;
        fill: #ffffff;
      }
    }


    &:active {
      background-color: #fff;

      svg {
        circle {
          fill: $color-danger;
        }

        path {
          fill: red;
        }
      }
    }
  }
}
